{% extends 'base.html' %}

{% block title %}
Литературно-игровой портал (Прототип) ЛитExplorer
{% endblock %}


{% block body %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Литературно-игровой портал (Прототип) ЛитExplorer</h1>
      <p class="lead my-3"></p>
      <p class="lead mb-0"><a href="/about" class="text-white font-weight-bold">Читать побробнее...</a></p>
    </div>
  </div>
<h1></h1>
{% endblock %}